.main{
   width: 100%;
   height: 100%;
   position: relative;
   padding: 4.25rem 1.5rem;
   
   background-color: var(--red);
   background-image: url("../assets/images/bg-intro-mobile.png");
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   
   @include table {
      padding: 7.5rem 2rem;
      background-image: url("../assets/images/bg-intro-desktop.png");
   }

   &__content {
      max-width: 1124px;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      
      @include table {
         grid-template-columns: 1fr 1fr;
         text-align: left;
         gap: 2rem;
      }
   }


}


.title {
   margin-bottom: 2rem;
   padding: 0;
   font-size: 1.875rem;
   font-weight: 700;
   line-height: 1.2;

   @include table {
      font-size: 3.125rem
   }
}

.main__cta {
   margin-top: 4.25rem;
   width: 100%;
   padding: 1.3rem 4.75rem;

   background-color: var(--blue);
   border-radius: 10px;
   box-shadow: 0 7px 0 0 rgba(0, 0, 0, .2);


   @include table {
      margin-top: 0;
      text-align: center;
   }
}

.btn {
   width: 100%;
   
   background: var(--green);
   // box-shadow: 0 5px 0 0 var(--green);
   box-shadow: 0 5px 0 0 rgba(0,0,0, .4);
   color: var(--white);
   cursor: pointer;

   border: 1px solid transparent;
   border-radius: 5px;
   font-weight: 500;
   padding: 1.125rem 2rem;
   text-transform: uppercase;


   &:hover{
      opacity: .7;
   }
}

.bold {
   font-weight: 600;
}

.red {
   color: var(--red);
}
.small {
   font-size: .6875rem;
   color: var(--red);
}

.hidden {
   display: none;
}